<div class="subscribe">
	<div class="container">
		<h3>Đăng ký ngay bây giờ!!!</h3>
		<form>
			<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
			<input type="submit" value="Đăng ký">
		</form>
	</div>
</div>
<!---->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 ftr-grid">
				<h3>Thông tin</h3>
				<ul class="nav-bottom">
					<li><a href="#">Sản phẩm mới nhất</a></li>
					<li><a href="#">Sản phẩm bán chạy nhất</a></li>
					<li><a href="#">Đang giảm giá</a></li>
					<li><a href="#">Ưu đãi</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>Đèn T&A</h3>
				<ul class="nav-bottom">
					<li><a asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
					<li><a href="#">Giao hàng toàn quốc</a></li>
					<li><a href="#">Khách hàng thành viên</a></li>
				</ul>
			</div>
			<div class="col-md-3 ftr-grid">
				<h3>Danh mục</h3>
				<ul class="nav-bottom">
					<li><a href="#">Đèn Oto</a></li>
					<li><a href="#">Đèn Led</a></li>
					<li><a href="#">Đèn trang trí</a></li>
					<li><a href="#">Đèn treo tường</a></li>
					<li><a href="#">Đèn ngủ</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="copywrite">
	<div class="container">
		<div class="copy">
			<p>©Copyright 2025 Công ty trách nhiệm hữu hạn T&A </p>
		</div>
		<div class="social">
			<a href="#"><i class="facebook"></i></a>
			<a href="#"><i class="twitter"></i></a>
			<a href="#"><i class="dribble"></i></a>
			<a href="#"><i class="google"></i></a>
			<a href="#"><i class="youtube"></i></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>